@import "/assets/stylus/variables"



/*
 * Main styles
 */
body {
  font 12px/1.4 "Lucida Grande", Arial, sans-serif
  margin 0
}



/*
 * Auth block
 */
.auth-block {
  padding 20px 0
  border-top 2px solid $red

  .auth-heading {
    position relative
    color $dark
    font-size 30px
    text-align center
    padding 20px
    font-weight 600

    .close {
      position absolute
      background-color transparent
      border 0
      -webkit-appearance none
      cursor pointer
      top -15px
      right 15px
      font-size 32px
      color $grey
      padding 0
    }
  }

  .auth-body {
    background-color $grey1
    padding 40px
    display flex

    .social {
      width 50%
      padding 0 20px

      .social-buttons {
        width 75%
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .auth-footer {
    color $grey2
    font-size 24px
    text-align center
    padding 20px

    a {
      color $dark
      text-decoration underline
    }
  }
}



/*
 * Buttons
 */
.btn {
  text-align center
  border-radius 3px
  border 1px solid $dark
  background-color $dark
  color $white
  text-shadow: -1px 0 rgba(0, 0, 0, 0.15), 0 1px rgba(0, 0, 0, 0.15), 1px 0 rgba(0, 0, 0, 0.15), 0 -1px rgba(0, 0, 0, 0.15);
  font-weight 600

  &:hover {
    cursor pointer
  }

  &:focus,
  &:active {
    outline none
  }



  // Button sizes
  &.btn-lg {
    font-size 20px
    padding 10px 16px
  }



  // Block button
  &.btn-block {
    width 100%
    display block
    margin-bottom 20px

    .svg-inline--fa {
      float left
      font-size 22px
      color $dark
    }
  }



  // Social buttons
  &.btn-facebook {
    background-color $facebook
    border-color $facebook
  }

  &.btn-google {
    background-color $google
    border-color $google
  }
}